body{
    padding-bottom: 50px;
}

.picture{
    padding: 10px;
}

.image{
    height: 250px;
    background: midnightblue;
}

.poke{
    font-weight: bold;
}

.chaser{
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

.runner{
    width: 100px;
    height: 100px;
}

.box{
    border: 1px solid grey;
    height: 350px;
}

.carouselContainer{
    background: royalblue;
    height: 400px;
}

.title{
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 20px;
}

.lightMode{
    background: rgb(245, 245, 245);
    color: rgb(10, 10, 10);
}

.darkMode{
    background: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
}

.bigTitle{
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.mode{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 47px;
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 50%;
}

.mode:hover{
    cursor: pointer;
}

/* CUSTOM CSS, NOT PROVIDED BY ASSIGNMENT */


/* Carousel */

.carousel-img{
    width: 400px;
    height: auto;
    background-size: cover;
}

.carousel-img img{
    display: none;
}

.show-carousel-img img{
    display: block;
}

/* Collage */
.image{
    color: #fefefe;
    text-align: center;
    font-size: 25px;
}

/* CHASER */

.chaser {
    background-image: url('./assets/small-img/pikachu-chaser.png');
    background-size: cover;
    position: static;
    display: block;
}

#chaserBox{
    overflow: hidden;
    cursor: url('./assets/small-img/trainer-cursor.png') -10 -5, auto;
    padding: 1px;
}

/* RUNNER */

.runner{
    background-image: url('./assets/small-img/charmander-runner.png');
    background-size: cover;
    background-position: 0 0;
    margin: 15px;
    position: relative;
}

#runnerBox{
    padding: 15px;
    cursor: url('./assets/small-img/pokeball-cursor.png'), auto;
    overflow: hidden;
}